name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ML_ops_exercise

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: 3.13

    - name: Install dependencies
      run: |
        uv sync --dev --locked

    - name: Test with pytest
      run: |
        uv run coverage run -m pytest tests/
        uv run coverage report -m